<div class="col-md-9 column">
    <div class="row clearfix">
        <div class="col-md-12 column">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Galery</h2><hr>
                    <?php if(!empty($galery))?>
                    <h1><?php echo $galery->judul?></h1> 
                    
                    <span class="label label-default"><?php echo $galery->tgl_create ?> </span></br> 
                    
                    <br>
                    <?php $imp = explode(',',$galery->gambar);?>
                    <?php if(count($imp)>1):?>
                    <div class="col-md-4">
                    <div class="thumbnail"> 
                    <?php foreach($imp as $key):?>
                    <img alt="300x200" src="<?php echo URL .'public/images/'.$key?>" class="img-rounded" width="100%"></p>                                       
                    <?php endforeach;?>
                    </div>
                    </div>
                    <?php else :?>
                    <img src="<?php echo URL .'public/images/'.$galery->gambar?>" alt="IMAGE" class="img-rounded" width='80%'>  
                    <?php endif?>
                    <div class="panel-default">
                        </br>
                    <p class="text-justify"><?php echo $galery->event?></p>  
                    </div>
                 </div> 
            </div>
        </div>				
    </div>
</div>
</div>			
