<div class="col-md-9 column">
    <div class="row clearfix">
    <div class="col-md-12 column">
        <div class="panel panel-default">
        
                
<!--                isi content
                <div class="row">
                    <div class="center-block">
                       <div class="col-xs-12 col-md-12">-->
                        <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-12 column">

                            <!-- armada bus-->
                            <h2>
                                GALERI FOTO TOUR <hr>
                            </h2>
                            <div class="row">
                                <div class="col-md-4">
                                     <div class="thumbnail">
                                        <img alt="350x350" src="<?php echo URL;?>public/galeri/smp rawajitu.jpg" class="img-rounded" />
                                        <div class="caption">
                                                <h3>
                                                 SMP Rawajitu
                                                </h3>
                                               

                                                <a target="" href="http://www.google.com" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span>  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                           <img alt="350x350" src="<?php echo URL;?>public/galeri/tl-kiwil-guru.jpg" class="img-rounded"/>
                                        <div class="caption">
                                            <h3>
                                          Guru-TL-Kiwil
                                            </h3>
                                           <p class="text-justify">
                                           
                                           </p>
                                           <a href="#" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                           <img alt="350x350" src="<?php echo URL;?>public/galeri/abd1.jpg" class="img-rounded"/>
                                        <div class="caption">
                                            <h3>
                                           AKBID Bunda Delima
                                            </h3>
                                           <p class="text-justify">
                                           
                                           </p>
                                           <a href="#" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                           <img alt="350x350" src="<?php echo URL;?>public/galeri/rgrjbs1.jpg" class="img-rounded"/>
                                        <div class="caption">
                                            <h3>
                                           Rombongan Guru SD Rajabasa
                                            </h3>
                                           <p class="text-justify">
                                           
                                           </p>
                                           <a href="#" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                           <img alt="350x350" src="<?php echo URL;?>public/galeri/rombongan pengajian.jpg" class="img-rounded"/>
                                           <div class="caption">
                                            <h3>
                                            Rombongan Pengajian
                                            </h3>
                                           <p class="text-justify">
                                                  
                                           </p>
                                           <a href="#" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <img alt="350x350" src="<?php echo URL;?>public/galeri/smpsbjy.jpg" class="img-rounded" />
                                        <div class="caption">
                                            <h3>
                                            SMPN1 Sumber Jaya
                                            </h3>
                                            <p>
                                            
                                            </p>
                                             <a href="#" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span>   
                                            </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                <div class="col-md-4">
                                     <div class="thumbnail">
                                        <img alt="350x300" src="<?php echo URL;?>public/galeri/smkpembangunan1.jpg" class="img-rounded" />
                                        <div class="caption">
                                                <h3>
                                                 SMK Pembangunan
                                                </h3>
                                               

                                                <a target="" href="http://www.google.com" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span>  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                           <img alt="350x350" src="<?php echo URL;?>public/galeri/universitasmegoupak1.jpg" class="img-rounded"/>
                                        <div class="caption">
                                            <h3>
                                            Uiversitas Megoupak
                                            </h3>
                                           <p class="text-justify">
                                           
                                           </p>
                                           <a href="#" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                           <img alt="350x350" src="<?php echo URL;?>public/galeri/ubl1.jpg" class="img-rounded"/>
                                        <div class="caption">
                                            <h3>
                                           Universitas Bandar Lampung
                                            </h3>
                                           <p class="text-justify">
                                           
                                           </p>
                                           <a href="#" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                           <img alt="350x350" src="<?php echo URL;?>public/galeri/smktekgrafika.jpg" class="img-rounded"/>
                                        <div class="caption">
                                            <h3>
                                           SMK Teknika Grafika
                                            </h3>
                                           <p class="text-justify">
                                           
                                           </p>
                                           <a href="#" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                           <img alt="350x350" src="<?php echo URL;?>public/galeri/smahidayatulmuslihin1.jpg" class="img-rounded"/>
                                           <div class="caption">
                                            <h3>
                                            SMA Hidayatul Muslihin
                                            </h3>
                                           <p class="text-justify">
                                                  
                                           </p>
                                           <a href="#" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <img alt="350x350" src="<?php echo URL;?>public/galeri/ubl2.jpg" class="img-rounded" />
                                        <div class="caption">
                                            <h3>
                                            UBL 2
                                            </h3>
                                            <p>
                                            
                                            </p>
                                             <a href="#" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span>   
                                            </div>
                                    </div>
                                </div>
                                



                            </div>

                          
                          
                          
                          
                          
                           <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                
                                    
                                    <tr>
                                        <td align='right'>E-Mail</td><td>:</td>
                                        <td>085669948001 / salimhidayat3@gmail.com</td>
                                    </tr>
                                
                            </table>
                           </div>
<!--                      </div> 
                   </div>
                </div>-->
                <!--Akhir isi Content-->

        </div> 
        </div>
    </div>				
    </div>

		
			