<div class="col-md-9 column">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-body">             
                    <!--isi content-->
                    <div class="row">
                        <div class="center-block">
                            <div class="col-xs-12 col-md-12">

                                <div class="row">

                                    <?php if(!empty($getall) ):?>
                                    <?php foreach ($getall as $row) { ?>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <?php $imp = explode(',',$row->gambar);?>
                                            <?php if(count($imp)>1):?>
                                            <img alt="300x200" src="<?php echo URL .'public/images/'.$imp[0]?>" class="img-rounded" width="100%"></p>                                       
                                            <?php else :?>
                                            <img alt="300x200" src="<?php echo URL .'public/images/'.$row->gambar?>" class="img-rounded" width="100%"></p>
                                            <?php endif?>
                                            <!-- <img alt="300x200" sr="<?php echo URL;?>public/img/pahawang.jpg" class="img-rounded" /> -->
                                            <div class="caption">
                                            <div class="caption">
                                                <a target="_blank" href="<?php echo URL.'galerifoto/detail/'.$row->id_galery?>" class="btn btn-primary active btn-xs" type="button"><strong><?php echo $row->judul?></strong></a><span class="label label-default"></span><span class="label label-default"></span>  
                                            </div>                                        
                                                    
                                            </div>
                                        </div>
                                    </div>
                                    <?php
                                    }?>
                                    <?php endif;?>		


                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div> 	
        
