<div class="col-md-9 column">
    <div class="row clearfix">
    <div class="col-md-12 column">
        <div class="panel panel-default">
        
                
<!--                isi content
                <div class="row">
                    <div class="center-block">
                       <div class="col-xs-12 col-md-12">-->
                        <p class="text-center"><strong>COFFEETOUR & JAUNT</strong><br>
                        adlah sebuah perusahaan penyedia jasa paket wisata nusantara di indonesia yang berdiri sejak 12 april 2011</p>
                          <img src="<?php echo URL .'public/img/logocoffeetour.jpg'?>" alt="IMAGE" class="img-rounded" width='100%'>  
                          
                          
                          
                          
                          <div class="row">
                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                            <img alt="300x200" src="<?php echo URL .'public/armada/Armada 1-2.jpg'?>" class="img-rounded" width='100%'>                                        
                                        </div>
                                    </div>  
                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                            <img alt="300x200" src="<?php echo URL .'public/armada/Armada 1-2-3.jpg'?>" class="img-rounded" width='100%'>                                        
                                        </div>
                                    </div>  
                          </div>
                          
                          
                          
                          
                          
                          
                          
                          
                           <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                
                                    
                                    <tr>
                                        <td align='right'>E-Mail</td><td>:</td>
                                        <td> salimhidayat3@gmail.com/telp :085669948001</td>
                                    </tr>
                                
                            </table>
                           </div>
<!--                      </div> 
                   </div>
                </div>-->
                <!--Akhir isi Content-->

        </div> 
        </div>
    </div>				
    </div>

		
			