<div class="col-md-9 column">
    <div class="row clearfix">
    <div class="col-md-12 column">
        <div class="panel panel-default">
        
                
<!--                isi content
                <div class="row">
                    <div class="center-block">
                       <div class="col-xs-12 col-md-12">-->                 
                          
                         <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                                
                                 <h2>
                                    KOTA WISATA <hr>
                                 </h2>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                          <img alt="200x150" src="<?php echo URL;?>public/kotawisata/lampung.jpg" class="img-rounded" />
                                            <div class="caption">
                                            <a target="" href="http://id.wikipedia.org/wiki/Daftar_tempat_wisata_di_Indonesia" class="btn btn-primary active btn-xs" type="button"><strong>LAMPUNG </strong></a><span class="label label-default"></span><span class="label label-default"></span>  
                                            </div>
                                        </div>
                                    </div>
                                  
                                   
                                        
                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                        <img alt="200x150" src="<?php echo URL;?>public/kotawisata/medan1.jpg" class="img-rounded" />
                                            <div class="caption">
                                            <a target="" href="http://id.wikipedia.org/wiki/Daftar_tempat_wisata_di_Indonesia" class="btn btn-primary active btn-xs" type="button"><strong>MEDAN </strong></a><span class="label label-default"></span><span class="label label-default"></span>  
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                        <img alt="200x150" src="<?php echo URL;?>public/kotawisata/lombok.jpg" class="img-rounded" />
                                            <div class="caption">
                                                <a target="" href="http://id.wikipedia.org/wiki/Daftar_tempat_wisata_di_Indonesia" class="btn btn-primary active btn-xs" type="button"><strong>LOMBOK </strong></a><span class="label label-default"></span><span class="label label-default"></span>  
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-md-6">
                                        <div class="thumbnail">
                                        <img alt="200x150" src="<?php echo URL;?>public/kotawisata/bali.jpg" class="img-rounded" />
                                            <div class="caption">
                                            <a target="" href="http://id.wikipedia.org/wiki/Daftar_tempat_wisata_di_Indonesia" class="btn btn-primary active btn-xs" type="button"><strong>BALI </strong></a><span class="label label-default"></span><span class="label label-default"></span>  
                                            </div>
                                        </div>
                                    </div>

                                    
                                      
                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                        <img alt="200x150" src="<?php echo URL;?>public/kotawisata/jakarta.jpg" class="img-rounded" />
                                            <div class="caption">
                                                <a target="" href="http://id.wikipedia.org/wiki/Daftar_tempat_wisata_di_Indonesia" class="btn btn-primary active btn-xs" type="button"><strong>JAKARTA </strong></a><span class="label label-default"></span><span class="label label-default"></span>  
                                            </div>
                                         </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                        <img alt="200x150" src="<?php echo URL;?>public/kotawisata/gedung sate bandung.jpg" class="img-rounded" />
                                            <div class="caption">
                                                <a target="" href="http://id.wikipedia.org/wiki/Daftar_tempat_wisata_di_Indonesia" class="btn btn-primary active btn-xs" type="button"><strong>BANDUNG </strong></a><span class="label label-default"></span><span class="label label-default"></span>  
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                        <img alt="200x150" src="<?php echo URL;?>public/kotawisata/istanabogor.jpg" class="img-rounded" />
                                            <div class="caption">
                                            <a target="" href="http://id.wikipedia.org/wiki/Daftar_tempat_wisata_di_Indonesia" class="btn btn-primary active btn-xs" type="button"><strong>BOGOR </strong></a><span class="label label-default"></span><span class="label label-default"></span>  
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                        <img alt="200x150" src="<?php echo URL;?>public/kotawisata/palembang.jpg" class="img-rounded" />
                                            <div class="caption">
                                                <a target="" href="http://banggawisatalokal.blogspot.com/" class="btn btn-primary active btn-xs" type="button"><strong>PALEMBANG </strong></a><span class="label label-default"></span><span class="label label-default"></span>  
                                            </div>
                                        </div>
                                    </div>

                                    


                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                        <img alt="200x150" src="<?php echo URL;?>public/kotawisata/jogja.jpg" class="img-rounded" />
                                            <div class="caption">
                                                <a target="" href="http://id.wikipedia.org/wiki/Daftar_tempat_wisata_di_Indonesia" class="btn btn-primary active btn-xs" type="button"><strong>JOGJAKARTA </strong></a><span class="label label-default"></span><span class="label label-default"></span>  
                                            </div>
                                         </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                        <img alt="200x150" src="<?php echo URL;?>public/kotawisata/malang.jpg" class="img-rounded" />
                                            <div class="caption">
                                                <a target="" href="http://id.wikipedia.org/wiki/Daftar_tempat_wisata_di_Indonesia" class="btn btn-primary active btn-xs" type="button"><strong>MALANG </strong></a><span class="label label-default"></span><span class="label label-default"></span>  
                                            </div>
                                         </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                        <img alt="200x150" src="<?php echo URL;?>public/kotawisata/semarang.jpg" class="img-rounded" />
                                            <div class="caption">
                                                <a target="" href="http://id.wikipedia.org/wiki/Daftar_tempat_wisata_di_Indonesia" class="btn btn-primary active btn-xs" type="button"><strong>SEMARANG </strong></a><span class="label label-default"></span><span class="label label-default"></span>  
                                            </div>
                                         </div>
                                    </div>

                                        
                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                        <img alt="200x150" src="<?php echo URL;?>public/kotawisata/jamgadang.jpg" class="img-rounded" />
                                            <div class="caption">
                                                <a target="" href="http://id.wikipedia.org/wiki/Daftar_tempat_wisata_di_Indonesia" class="btn btn-primary active btn-xs" type="button"><strong>PADANG </strong></a><span class="label label-default"></span><span class="label label-default"></span>  
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                        <img alt="200x150" src="<?php echo URL;?>public/kotawisata/solo.jpg" class="img-rounded" />
                                            <div class="caption">
                                                <a target="" href="http://id.wikipedia.org/wiki/Daftar_tempat_wisata_di_Indonesia" class="btn btn-primary active btn-xs" type="button"><strong>SOLO</strong></a><span class="label label-default"></span><span class="label label-default"></span>  
                                            </div>
                                         </div>
                                    </div>

                                    

                                <td align='right'>E-Mail</td><td>:</td>
                                        <td>085669948001 / salimhidayat3@gmail.com</td>
                            </div>
                            </div>
                            </div>
                            </div>
                           </div>
<!--                      </div> 
                   </div>
                </div>-->
                <!--Akhir isi Content-->
            
        </div> 
        </div>
    </div>				
    </div>

		
			