<!DOCTYPE html>
<!--application/views/admin/kotawisata/editkotawisata.html-->
<div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <!--Content-->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Data Kota Wisata <small></small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <a href="<?php echo URL?>admin">Dashboard</a>
                            </li>
                            <li>
                                <i class="fa fa-dashboard"></i> <a href="<?php echo URL?>admin/kotawisata">Data Kota Wisata</a>
                            </li>
                            <li>
                                <i class="fa fa-dashboard"></i> Edit Kota Wisata
                            </li>
                        </ol>
                    </div>
                </div>
                
               <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Edit Kota Wisata</h3>
                            </div>
                            <div class="panel-body">
                            
                            <?php
                                if(!empty($msg)):
                                echo "<div class='alert alert-info' role='alert'> ";
                                echo "<i class='fa fa-info-circle'>Error Message!</i> <br/>";
                                    foreach($msg as $message){
                                        echo ' '.$message.'<br/>';
                                    }
                                endif;
                           ?> 
                           </div>
                            <br>
                            <?php if(!empty($wisatadata)){?>
                            <form class="form-horizontal" role="form" action="<?php echo URL?>admin/saveeditwisata" method="post" enctype="multipart/form-data" >
                            <div class="form-group">
                            <label for="kotawisata" class="col-sm-2 control-label">Kota Wisata</label>
                            <div class="col-sm-7">
                                <input type="text" name="id" value="<?php echo $wisatadata->id_kotawisata?>" hidden>
                                <input class="form-control" type="text" name="kotawisata" id="tujuan" placeholder="Kota Wisata" value="<?php echo $wisatadata->kotawisata?>">
                            </div>
                            </div>
                                
                            <div class="form-group">
                            <label for="link" class="col-sm-2 control-label">Link</label>
                            <div class="col-sm-5">
                            <input class="form-control" type="text" name="link" id="tujuan" placeholder="Link" value="<?php echo $wisatadata->link?>">
                            </div>
                            </div>    
                                        
                                                                                   
                            <div class="form-group">
                            <label for="file_gambar" class="col-sm-2 control-label">Gambar </label>
                            <div class="col-sm-4">
                            <?php $dir = getcwd();?>
                            <?php $images =$dir . '/public/images/'.$wisatadata->gambar;?>
                            <?php if(file_exists($images)){?>
                            <img src="<?php echo URL .'public/images/'.$wisatadata->gambar?>" alt="IMAGE" class="img-rounded" width='40%'></p>  
                            <?php }?>
                            <input type="file" id="file_gambar" name="file_gambar">
                            <p class="help-block">Pilih Gambar *.jpg</p>
                            </div>
                            </div>
                            
                            <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Simpan</button>
                            <button type="reset" class="btn btn-default">Hapus</button>
                            </div>
                            </div>
                           
                                                             
                           </form>
                           <?php }?>     
                           
                           <!--untuk edit ketika error-->
                           <?php if(!empty($msg)){?>
                            <form class="form-horizontal" role="form" action="<?php echo URL?>admin/saveeditarmada" method="post" enctype="multipart/form-data" >
                            <div class="form-group">
                            <label for="armada" class="col-sm-2 control-label">Kota Wisata</label>
                            <div class="col-sm-7">
                                <input type="text" name="id" value="<?php echo $form['id']?>" hidden>
                                <input class="form-control" type="text" name="kotawisata" id="tujuan" placeholder="Kota Wisata" value="<?php echo $form['armada']?>">
                            </div>
                            </div>
                                
                            <div class="form-group">
                            <label for="link" class="col-sm-2 control-label">Link</label>
                            <div class="col-sm-5">
                            <input class="form-control" type="text" name="link" id="tujuan" placeholder="Link" value="<?php echo $form['link']?>">
                            </div>
                            </div>    
                                        
                                                                                   
                            <div class="form-group">
                            <label for="file_gambar" class="col-sm-2 control-label">Gambar </label>
                            <div class="col-sm-4">
                            <?php if(!empty($gambar)){?>
                            <?php $dir = getcwd();?>
                            <?php $images =$dir . '/public/images/'.$gambar->gambar;?>
                            <?php if(file_exists($images)){?>
                            <img src="<?php echo URL .'public/images/'.$gambar->gambar?>" alt="IMAGE" class="img-rounded" width='40%'></p>  
                            <?php }}?>
                            <input type="file" id="file_gambar" name="file_gambar">
                            <p class="help-block">Pilih Gambar *.jpg</p>
                            </div>
                            </div>
                            
                            <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Simpan</button>
                            <button type="reset" class="btn btn-default">Hapus</button>
                            </div>
                            </div>
                           <?php }?>     
                            </div>
                        </div>
                    </div>
                </div>
                
<!--                 <script src="<?php echo URL;?>public/sb-admin/js/jquery-1.11.0.js"></script>

     Bootstrap Core JavaScript 
    <script src="<?php echo URL;?>public/sb-admin/js/bootstrap.min.js"></script>-->

<script type="text/JavaScript">
    function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : evt.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}
</script>