<div class="col-md-9 column">
    <div class="row clearfix">
    <div class="col-md-12 column">
        <div class="panel panel-default">
        
                
<!--                isi content
                <div class="row">
                    <div class="center-block">
                       <div class="col-xs-12 col-md-12">-->
                        <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-12 column">

                            <!-- armada bus-->
                            <h2>
                                ARMADA YANG BIASA DIGUNAKAN <hr>
                            </h2>
                            <div class="row">
                                <div class="col-md-4">
                                     <div class="thumbnail">
                                        <img alt="350x350" src="<?php echo URL;?>public/img/efisiensi.jpg" class="img-rounded" />
                                        <div class="caption">
                                                <h3>
                                                 EFISIENSI
                                                </h3>
                                               

                                                <a target="" href="http://www.facebook.com/PoEfisiensiComunity" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span>  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                           <img alt="350x350" src="<?php echo URL;?>public/img/bigstar.jpg" class="img-rounded"/>
                                        <div class="caption">
                                            <h3>
                                            BIG STAR
                                            </h3>
                                           <p class="text-justify">
                                           
                                           </p>
                                           <a href="#" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                           <img alt="350x350" src="<?php echo URL;?>public/img/phb.jpg" class="img-rounded"/>
                                        <div class="caption">
                                            <h3>
                                           PHB
                                            </h3>
                                           <p class="text-justify">
                                           
                                           </p>
                                           <a target="" href="http://www.phbwisata.com" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                           <img alt="350x350" src="<?php echo URL;?>public/img/kramat.jpg" class="img-rounded"/>
                                        <div class="caption">
                                            <h3>
                                           KRAMAT JATI
                                            </h3>
                                           <p class="text-justify">
                                           
                                           </p>
                                           <a target="" href="#" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                           <img alt="350x350" src="<?php echo URL;?>public/img/penantian.jpg" class="img-rounded"/>
                                           <div class="caption">
                                            <h3>
                                            PENANTIAN UTAMA
                                            </h3>
                                           <p class="text-justify">
                                                  
                                           </p>
                                           <a href="#" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <img alt="350x350" src="<?php echo URL;?>public/img/puspajaya.jpg" class="img-rounded" />
                                        <div class="caption">
                                            <h3>
                                            Puspa Jaya
                                            </h3>
                                            <p>
                                            
                                            </p>
                                             <a href="http://puspawisata.com" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span>   
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <img alt="350x350" src="<?php echo URL;?>public/img/armada 1.jpg" class="img-rounded" />
                                        <div class="caption">
                                            <h3>
                                            Arjuna Samba
                                            </h3>
                                            <p>
                                            
                                            </p>
                                             <a href="#" class="btn btn-primary active btn-xs" type="button">Detail</a><span class="label label-default"></span><span class="label label-default"></span>   
                                            </div>
                                    </div>
                                </div>
                            </div>
                          
                          
                          
                          
                          
                           <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                
                                    
                                    <tr>
                                        <td align='right'>E-Mail</td><td>:</td>
                                        <td>085669948001 / salimhidayat3@gmail.com</td>
                                    </tr>
                                
                            </table>
                           </div>
<!--                      </div> 
                   </div>
                </div>-->
                <!--Akhir isi Content-->

        </div> 
        </div>
    </div>				
    </div>

		
			